  /* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Yanone+Kaffeesatz:wght@600&display=swap'); */
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100;300&family=Yanone+Kaffeesatz:wght@600&display=swap');
 
  

  /* h1              { font-size: 140px; margin: .67em 0 }
  h2              { font-size: 100px; margin: .75em 0 }
  h3              { font-size: 60px; margin: .83em 0 }
  h4              { font-size: 1.3em; margin: .83em 0 }
  h5              { font-size: .83em; margin: 1.5em 0 }
  h6              { font-size: .75em; margin: 1.67em 0 } */
  h1, h2, h3, h4,
  h5, h6          { font-weight: bolder }

  h1, h2, h3, h4, h5, h6{
    font-family: "Noto Sans Georgian", sans-serif;
 }
 .mt-30
 {
  margin-top: 30px !important;
 }
 .mt-50
 {
  margin-top: 50px !important;
 }
 .mt-70
 {
  margin-top: 70px !important;
 }
 .mt-80
 {
  margin-top: 90px !important;
 }
 .mt-90
 {
  margin-top: 90px !important;
 }
 .mt-100
 {
  margin-top: 100px !important;
 }
 body
 {
    font-family: "Noto Sans Georgian", sans-serif;
    /* width: 1080px !important; 
    height: 1920px !important; */
    position: relative;
    margin: 0 auto;
    color: #14142b;
 } 
.background-color
{
    background-color: #FBCD4D !important;
}
.text-color
{
    color: #14142b !important;
}
.dine-btn
{
  width: 100%;
  /* background-color: #fbc331; */
  background-color: #f5e1ab;
}
.yellow-background
{
  background-color: #FBCD4D;
}
.border-white
{
  position: relative;
    border: rgb(255, 255, 255) solid 2px;
    border-radius: 24px;
    padding: 20px;
    margin-top: 20px;
    --bs-border-opacity: 50%;
    margin-left: 0px;
    margin-right: 0px
}
.language
{
  position: relative; bottom: 0px; right: 40px;
}
.cat-background
{
  background-color: rgba(245,225,171,.5) !important;
  color: #14142b !important;
}
.cat-background.active
{
  background-color: #FBCD4D !important;
  color: #14142b !important;
}

.const-image
{
  width: 270px !important;
  margin-left: 8px;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #FBCD4D;
}
.header-image
{
    border-radius: 40px 40px 0 0;
    /* width: 100%; */
    object-fit: contain;
    /* mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), transparent 90%); */
    /* mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), transparent 108%); */
}
.header-image-checkout
{
    width: 100%;
    object-fit: contain;
    /* mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), transparent 90%); */
    /* mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), transparent 108%); */
}
.border-rounded
{
  border: 1px solid #FBCD4D;
  border-radius: 24px;
  padding-top: 30px;
}
.item-background
{
  background-color: #FBCD4D;
  
}
/* .imgResize
{
  margin-left: 0px;
} */
.borderi
{
  border-right: 1px double #ff6550;
  border-bottom: 1px double #ff6550; 
}
.shadow-bottom{
  box-shadow: 0px 2px 1px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 1px 1px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 3px 0px var(--v-shadow-key-ambient-opacity, rgba(0, 0, 0, 0.12));
}
.kalata{
    padding: 20px;
    position: fixed !important;
    bottom: 0;
    right: 0;
    background-color: red;
    overflow: auto;
    border-radius: 12px;
    cursor: pointer;
    color: #ffffff !important;
    border-radius: 50%;
 }
 .transition
{
  transition: color 0.5s ease-in;
  /* transition: opacity 0.3s ease 0s; */
}
.transition:hover, .transition:focus
{
  /* opacity: 0.1; */
  /* color: rgba(255, 0, 0, 1); */
  /* background-color: #FBCD4D; */
  font-weight: 600;
}
 .btn-yellow:hover
 {
  height: 100px;
  font-weight: 600 !important;
  background-color: transparent;
  border-radius: 12px;
  border: solid 1px #14142b;
 }
 .plusBtn
 {
  height: 65px;
    width: 65px;
    background: #14142b;
    font-size: 65px;
    font-weight: 600;
    color: white;
    line-height: 36px;
    border-radius: 12px;
    border: 4px solid #fff;
 }
 .minusBtn
 {
  height: 65px;
    width: 65px;
    background: black;
    font-size: 65px;
    font-weight: 600;
    color: white;
    line-height: 28px;
    border-radius: 12px;
    border: 4px solid #fff;
 }
 .kalati .plusBtn
 {
  height: 48px;
  width: 48px;
  background: #14142b;
  font-size: 47px;
  font-weight: 500;
  color: white;
  line-height: 26px;
  border-radius: 12px;
  border: 1px solid #fff;
 }
 .kalati .minusBtn
 {
  height: 48px;
  width: 48px;
  background: #14142b;
  font-size: 47px;
  font-weight: 500;
  color: white;
  line-height: 19px;
  border-radius: 12px;
  border: 1px solid #fff;
 }
 .qtyNum
 {
  font-size: 48px;
  width: 4.5 rem;
 }
 .pizzaSize,.crustSize, .sauceSize, .halfSize
 {
  height: 100px !important;
  font-size: 28px !important;
  line-height: 86px !important;
  margin-bottom: 4px;
 }
 .pizzaSize.active, .crustSize.active, .sauceSize.active, .halfSize.active
 {
  height: 100px;
  font-weight: 500 !important;
  background-color:#FBCD4D !important;
  border-radius: 12px;
  border: solid 2px #14142b;
 }
 .defToppingebi li 
 {
  margin-right: 10px;
 }
 .pizzaSize
 {
  width: 32%;
  /* margin-right: 20px; */
  margin: 0 auto;
  margin-bottom: 10px;
 }
 .crustSize
 {
  width: 49%;
  margin: 0 auto;
  margin-bottom: 10px;
 }
 .sauceSize
 {
  width: 24%;
  margin: 0 auto;
  margin-bottom: 10px;
 }
 .halfSize
 {
  width: 32%;
  margin: 0 auto;
  margin-bottom: 10px;
 }
 .w-plius-empty
 {
  float: right;
  line-height: 29px;
  background: #fbcd4d2d;
  width: 64px;
  height: 64px;
  text-align: center;
  height: 65px;
  width: 65px;
  /* background: #14142b; */
  font-size: 65px;
  font-weight: 600;
  color: #14142bbd;
  line-height: 36px;
  border-radius: 12px;
  border: 1px solid #14142bbd;
 }
 .plusIcon
 {
  font-size: 48px;
  font-weight: 500;
  line-height: 62px;
 }
 .w-plius
 {
  float: right;
  line-height: 29px;
  background: #FBCD4D;
  width: 64px;
  height: 64px;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #14142b;
  line-height: 57px;
  border-radius: 12px;
  border: 2px solid #14142b;
 }
 .toppingName, .toppimgPrice  
 {
  font-size: 1.25rem;
  font-weight: 500;
 }
 .ingredient-image img
 {
  float: left;
 }
 .ingredient-image
 {
  width: 120px;
  height: 90px;
 }
 .ingredientImage
 {
  height: 90px;
 }
 .button-done
 {
  background: #137156 !important;
  border: 2px solid rgb(255, 255, 255) !important;
  color: #ffffff !important;
  height: 100px !important;
 }
 .button-pay
 {
  background: #137156 !important;
  border: 2px solid rgb(255, 255, 255) !important;
  color: #ffffff !important;
  height: 100px !important;
  width: 100%;
 }
 .vsp__footer
 {
  overflow: hidden;
 }
 .cart-sidebar
 {
  position: absolute;
  margin: auto 20px auto auto;
 }
 .sidebariza
 {
  text-align: center;
 }
 .sidebariza img
 {
  padding-bottom: 30px;
 }
 .vsp-wrapper .vsp__header
 {
  overflow-x: hidden !important;
  overflow: auto;
 }
 .v-card-subtitle
 {
  opacity: 1 !important;
 } 
 .vsp-wrapper .vsp-overlay
 {
  opacity: 0.75 !important;
 }
 .v-btn.v-btn--density-default {
  /* background: #FAF0D5; */
  font-size: 20px;
  font-weight: 600;
}
.gray
{
  background-color: #E4E4E4 !important;
}
.green
{
  background-color:#137156 !important ;
}
.yellow
{
  background-color: #FAF0D5 !important
}
.white
{
  color: #ffffff !important;
}
.m10{
  margin: 10px !important;
}
.background-gray
{
  /* border: 1px solid #F8F9FA !important; */
  background-color: #F6F8FB;
}
.background-white
{
  background-color: #ffffff !important;
}
.v-card-item .v-card-title {
  padding: 0;
  font-size: 20px;
  font-weight: 600;
}
.patara
{
  width: 48px !important;
  height: 48px !important;
  font-size: 48px;
  line-height: 22px;
}
.text-description h6
{
  font-weight: 500;
}
.imgResizeConstructor
{
  width: auto;
  height: auto;
}
.h100
{
  height: 100px !important;
}
.v-card-subtitle.racxa
{
  font-size: 16px;
  padding-bottom: 6px;
  font-weight: 500;
}
.v-card-subtitle.carttitle 
{
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 6px;
  font-weight: 600;
}
.v-card-subtitle.cartqty
{
  padding-bottom: 6px;
  font-weight: 500;
  font-size: .875rem;
    margin: 0;
}