  /* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Yanone+Kaffeesatz:wght@600&display=swap'); */
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100;300&family=Yanone+Kaffeesatz:wght@600&display=swap');
 
  

  /* h1              { font-size: 140px; margin: .67em 0 }
  h2              { font-size: 100px; margin: .75em 0 }
  h3              { font-size: 60px; margin: .83em 0 }
  h4              { font-size: 1.3em; margin: .83em 0 }
  h5              { font-size: .83em; margin: 1.5em 0 }
  h6              { font-size: .75em; margin: 1.67em 0 } */
  h1, h2, h3, h4,
  h5, h6          { font-weight: bolder }

  h1, h2, h3, h4, h5, h6{
    font-family: "Noto Sans Georgian", sans-serif;
 }
 .mt-30
 {
  margin-top: 30px !important;
 }
 .mt-50
 {
  margin-top: 50px !important;
 }
 .mt-70
 {
  margin-top: 70px !important;
 }
 .mt-80
 {
  margin-top: 90px !important;
 }
 .mt-90
 {
  margin-top: 90px !important;
 }
 .mt-100
 {
  margin-top: 100px !important;
 }
 body
 {
    font-family: "Noto Sans Georgian", sans-serif;
    /* width: 1080px !important; 
    height: 1920px !important; */
    position: relative;
    margin: 0 auto;
    color: #14142b;
 } 
.transition
{
  transition: color 500ms ease-out;
  /* transition: opacity 0.3s ease 0s; */
}
.transition :hover, .transition :focus
{
  /* opacity: 0.1; */
  color: rgba(255, 0, 0, 1);
}
.background-color
{
    background-color: #FBCD4D !important;
}
.text-color
{
    color: #14142b !important;
}
.dine-btn
{
  width: 100%; height: 400px;
  /* background-color: #fbc331; */
  background-color: #f5e1ab;
  padding-top: 60px;
}
.yellow-background
{
  background-color: #FBCD4D;
}
.border-white
{
  position: relative;
    border: rgb(255, 255, 255) solid 2px;
    border-radius: 24px;
    padding: 20px;
    margin-top: 20px;
    --bs-border-opacity: 50%;
    margin-left: 0px;
    margin-right: 0px
}
.language
{
  position: relative; bottom: 0px; right: 40px;
}
.cat-background
{
  background-color: rgba(245,225,171,.5) !important;
  color: #14142b !important;
}
.cat-background.active
{
  background-color: #FBCD4D !important;
  color: #14142b !important;
}

.const-image
{
  width: 270px !important;
  margin-left: 70px;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #FBCD4D;
}
.header-image
{
  border-radius: 40px 40px 0 0;
    /* width: 100%; */
    object-fit: contain;
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), transparent 90%);
    /* mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), transparent 108%); */
}
.border-rounded
{
  border: 1px solid #FBCD4D;
  border-radius: 24px;
  padding-top: 30px;
}
.item-background
{
  background-color: #FBCD4D;
  
}
/* .imgResize
{
  margin-left: 0px;
} */
.borderi
{
  border-right: 1px double #ff6550;
  border-bottom: 1px double #ff6550; 
}
.shadow-bottom{
  box-shadow: 0px 18px 10px -19px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 18px 10px -19px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 18px 10px -19px rgba(0,0,0,0.15);
}
.footer{
  position:fixed;
  bottom:0;
  left:0;
  background-color: red;
 }
 .btn-yellow:hover
 {
  height: 100px;
  font-weight: 600 !important;
  background-color: transparent;
  border-radius: 12px;
  border: solid 2px #14142b;
 }
 .plusBtn
 {
  height: 65px;
    width: 65px;
    background: #14142b;
    font-size: 65px;
    font-weight: 600;
    color: white;
    line-height: 36px;
    border-radius: 12px;
    border: 4px solid #fff;
 }
 .minusBtn
 {
  height: 65px;
    width: 65px;
    background: black;
    font-size: 65px;
    font-weight: 600;
    color: white;
    line-height: 28px;
    border-radius: 12px;
    border: 4px solid #fff;
 }
 .qtyNum
 {
  font-size: 48px;
  width: 4.5 rem;
 }
 .pizzaSize,.crustSize, .sauceSize, .halfSize
 {
  height: 100px !important;
  font-size: 24px !important;
  line-height: 86px !important;
  margin-bottom: 4px;
 }
 .pizzaSize.active, .crustSize.active, .sauceSize.active, .halfSize.active
 {
  height: 100px;
  font-weight: 500 !important;
  background-color:#FBCD4D !important;
  border-radius: 12px;
  border: solid 2px #14142b;
 }
 