.doneButton{
    background-color: red;
    width: 300px;
    height: 100px;
}
.modalTotal {
    font-size: 22px;
}
.product-dialog {
    align-self: flex-end;
    margin-bottom: 0px;
}

.imgResize {
    max-width: 270px;
    max-height: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgResizeConstructor {
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.table th,
.table td {
    vertical-align: middle;
    padding: 0px;
}
.text-title {
    display: block;
    font-size: 22px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.text-description {
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-price {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-body {
    /* padding: 0.5rem 0.5rem 0.2rem; */
    padding: 20px;
    font-size: 16px;
    min-height: 126px;
    height: max-content;
}

.backgraundi {
    max-width: calc(100% - 24px) !important;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}


.orderTitle {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    line-height: 120%;
}


.base > h6 {
    font-size: 0.83rem !important;
}

.orange {
    color: #f7941d !important;
}

ul.defToppingebi li {
    display: inline-table;
}
.defToppingebi
{
    margin-bottom:0px !important
}

.active {
    height: 100%;
    display: inline-block;
    line-height: 35px;
    border: solid 1px #205192;
    border-radius: 4px;
    color: #858585;

    box-shadow: 0 1px 14px 0 rgb(0 0 0 / 6%);
}

.btn_inactive {
    opacity: 0.5 !important;
    pointer-events: none !important;
}

.pizza_inactive {
    opacity: 0.5 !important;
    pointer-events: none !important;
}

.deletedTopping {
    color: red;
}

.pizzaSettTitle {
    background-color: white;
    margin-bottom: 0px;
    border-color: transparent;
    /* background: $ronnys-active; */
    /* color: $black-color; */
    text-align: center;
    /* box-shadow: $box-shadow; */
}
.pizzaSize {
    height: 100%;
    padding: 2px 4px;
    display: inline-block;
    cursor: pointer;
    /* transform: translateX(0);
    transition: transform 1s linear; */
    cursor: pointer;
    font-weight: 300;
    color: black;
    text-align: center;
    /* box-shadow: $box-shadow; */
}
.pizzaSize.active {
    height: 100%;
    display: inline-block;
    line-height: 33px;
    border-radius: 0px;
    padding: 2px 4px;
    font-weight: 300;
    /* background: $ronnys-active; */
}
.pizzaSize:hover {
    height: 100%;
    display: inline-block;
    line-height: 33px;
    border-radius: 0px;
    font-weight: 500;
    /* background: $ronnys-active; */
}
.crustSize {
    padding: 0px;
    display: inline-block;
    cursor: pointer;
    transform: translateX(0);
    transition: transform 1s linear;
    cursor: pointer;
    background-color: rgba(32, 81, 146, 0.04);
}
.crustSize.active {
    height: 100%;
    display: inline-block;
    line-height: 33px;
    border-radius: 0px;
    font-weight: 500;
    /* background: $ronnys-active; */
    /* color: $black-color; */
    text-align: center;
}
.crustSize:hover {
    height: 100%;
    display: inline-block;
    line-height: 33px;
    /* // border: solid 1px $ronnysActiveBorder; */
    border-radius: 4px;
    font-weight: 500;
    /* background: $ronnys-active; */
    /* color: $black-color; */
    text-align: center;
    /* box-shadow: $box-shadow; */
}
.size {
    padding: 0px;
    cursor: pointer;
    transform: translateX(0);
    transition: transform 1s linear;
    cursor: pointer;
    background-color: rgba(32, 81, 146, 0.04);
}
.size.active {
    height: 100%;
    display: inline-block;
    line-height: 33px;
    border-radius: 0px;
    font-weight: 500;
    /* background: $ronnys-active; */
    /* color: $black-color; */
    text-align: center;
}
.size:hover {
    height: 100%;
    display: inline-block;
    line-height: 33px;
     /* border: solid 1px $ronnysActiveBorder; */
    border-radius: 4px;
    font-weight: 500;
    /* background: $ronnys-active; */
    /* color: $black-color; */
    text-align: center;
    /* box-shadow: $box-shadow; */
}
.sauceSizeTitle {
    padding: 0px;
    cursor: pointer;
    transform: translateX(0);
    transition: transform 1s linear;
    cursor: pointer;
    background-color: rgba(32, 81, 146, 0.04);
    font-weight: 500;
}
.sauceSize {
    padding: 0px;
    display: inline-block;
    cursor: pointer;
    transform: translateX(0);
    transition: transform 1s linear;
    cursor: pointer;
    font-weight: 300;
    background-color: rgba(32, 81, 146, 0.04);
}
.sauceSize.active {
    height: 100%;
    display: inline-block;
    line-height: 33px;
    /* // border: solid 1px $ronnysActiveBorder; */
    border-radius: 0px;
    font-weight: 500;
    /* background: $ronnys-active; */
    /* color: $black-color; */
    text-align: center;
    /* // box-shadow: $box-shadow; */
}
.sauceSize:hover {
    font-weight: 500;
}

.halfSize {
    padding: 0px;
    display: inline-block;
    cursor: pointer;
    transform: translateX(0);
    transition: transform 1s linear;
    cursor: pointer;
    background-color: rgba(32, 81, 146, 0.04);
}
.halfSize.active {
    height: 100%;
    display: inline-block;
    line-height: 33px;
    /* // border: solid 1px $ronnysActiveBorder; */
    border-radius: 0px;
    font-weight: 500;
    /* background: $ronnys-active; */
    /* color: $black-color; */
    text-align: center;
    /* // box-shadow: $box-shadow; */
}
.halfSize:hover {
    height: 100%;
    display: inline-block;
    line-height: 33px;
    /* // border: solid 1px $ronnysActiveBorder; */
    border-radius: 4px;
    font-weight: 500;
    /* background: $ronnys-active; */
    /* color: $black-color; */
    text-align: center;
    /* box-shadow: $box-shadow; */
}

.btn-yellow {
    border-radius: 6px;
    background-color: transparent;
    color: black;
    border-color: transparent;
    line-height: 30px;
    border-radius: 0px;
    font-size: 11pt !important;

    &.disabled,
    &:disabled {
        background-color: transparent;
        color: black;
        border-color: inherit;
    }
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    .show > &.dropdown-toggle {
        box-shadow: unset;
        color: black;
        background-color: #f7ebc1;
        /* // border-color: #ffd141; */
    }
    &:not(:disabled):not(.disabled).active:focus,
    &:not(:disabled):not(.disabled):active:focus,
    .show > &.dropdown-toggle:focus {
        box-shadow: unset;
    }
    &:hover,
    &:focus {
        box-shadow: unset;
        color: black;
        background-color: #f6f8e3;
        border-color: #ffd141;
    }
}

.btn {
    /* // border: 1px solid transparent; */
    padding: 8px 10px;
    border-radius: 4px;
    line-height: initial;
    border-radius: 0;
    /* transition: 0.3s;
    &.disabled,
    &:disabled {
        opacity: 1;
    } */
}

.ingredientsTable {
    height: 42px;
    cursor: pointer;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li.topping span.toppingName {
    position: relative;
    font-weight: 500;
    font-size: 90%;
}
ul li.topping span.toppingPrice {
    position: relative;
    float: right;
    margin-right: 48px;
    font-weight: 500;
    font-size: 90%;
}
.toppimgTitle {
    width: 70px;
}
.toppimgPrice {
    font-weight: 400;
}
.toppingName {
    font-weight: 400;
    position: relative;
}
.toppingSettInner {
    position: relative;
    top: 0px;
}
.green {
    color: green !important;
    font-weight: 400;
}
.w-plius {
    float: right;
    line-height: 34px;
    background: rgba(237, 195, 64, 0.5);
    border-radius: 50%;
    width: 34px;
    height: 34px;
    text-align: center;
}
.w-plius-empty {
    float: right;
    line-height: 34px;
    background: rgba(96, 97, 98, 0.1);
    border-radius: 50%;
    width: 34px;
    height: 34px;
    text-align: center;
}
.plusIcon {
    font-size: 26px;
    font-family: initial;
    font-weight: 600;
}

.qtyComponent {
    display: inline-block;
}

.qtyComponent {
    display: flex;  
    justify-content: center;
    align-items: center;
}
.qtyNum {
  border: 0;
  /* border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd; */
  width: 2.5rem;
  text-align: center;
}

.hiddenAnimation{
    opacity: 0;
}

.minusBtn {
  /* border: 2px solid #ddd; */
    padding: .5rem;
    /* background: #f5f5f5;
    color: #888; */
    font-size: 1rem;
    margin: 3px;
    cursor: pointer;
    width: 34px;
    height: 34px;
    /* border: solid 2px; */
    border-radius: 50%;
    text-align: center;
    background: rgba(76, 134, 81, 0.1);

}
.plusBtn {
    /* border: 2px solid #ddd; */
    padding: .5rem;
    /* background: #f5f5f5;
    color: #888; */
    margin: 3px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    text-align: center;
    background: rgba(76, 134, 81, 0.1);
}
.ulHorizontal {
    list-style: none;
}
.liHorizontal {
    display: inline-block;
    margin-right: 10px;
}
.catSort{
    margin-left: 50%;
}
.v-application__wrap {
    display: none;
}

